<div class="container">
    <div class="select-wrapper">
        <img [src]="logoRuta" class="logo">

        <select [(ngModel)]="selectedOption" required>
            <option [value]="'Seleccionar'" disabled>{{ selectedOptionDefault }}</option>
            <option value="Acceder a evento">Acceder a evento</option>
            <option value="Crear evento">Crear evento</option>
            <option value="Eliminar evento">Eliminar evento</option>
            <option value="Limpiar cache">Limpiar cache</option>
        </select><br>

        <input *ngIf="selectedOption !== 'Limpiar cache'" placeholder="Nombre de la fiesta..." [(ngModel)]="inputText" class="inputTextNameParty">

        <p> {{ mensajeEliminacion }}</p>
    </div>

    <div *ngIf="selectedOption === 'Acceder a evento'" style="margin-left: -5%;">
        <textarea placeholder="Mensaje para mostrar en el evento" [(ngModel)]="inputMensage" class="frase"> </textarea>

        <!-- Subida de archivos -->
        <form (submit)="subirArchivo()">
        <br><br><label>Selecciona un archivo:</label><br>
        <input type="file" (change)="seleccionarArchivo($event)">
        <button type="submit" style="margin-left: 2%;">Subir logo</button>
        </form>

        <!-- Previsualización -->
        <br><img [src]="resultado" *ngIf="resultado" width="60%" alt="Previsualización">
    </div>

    <button (click)="accion(selectedOption)"
      [disabled]="selectedOption === 'Limpiar cache' ? false :
      (inputText === null || inputText === '' || selectedOption === 'Seleccionar')"
      class="custom-button">
      {{ selectedOption }}
    </button>

</div>
