.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    font-size: 1.5rem;
    margin-right: 20px;
    color: #000000;
}

.inputTextNameParty {
    width: 400px;
    margin-left: -20px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #47e2e2;
    width: 300px;
    background: transparent;
    transition: width 0.2s ease-in-out;
    color: rgb(0, 0, 0);
}

input:focus {
    width: 500px;
}

button {
    padding: 10px;
    background-color:rgb(139, 228, 131);
    color: #000000;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.2);
}

.frase {
    margin-top: 20px;
    margin-right: 20px;
    width: 421px;
    height: 100px;
    font-size: 15px;
}

select {
    padding: 10px;
    border: none;
    border: 2px solid #47e2e2;
    width: 200px;
    background: #fff;
    transition: width 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-left: 20%;
    margin-bottom: 20px;
}
  
.custom-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #808080;
}
  
@media screen and (max-width: 840px) {
    input:focus {
        width: 300px;
    }
  }
  
@media screen and (max-width: 587px) {
    input {
        width: 200px;
    }
  
    input:focus {
        width: 200px;
    }
  
    .frase {
        width: 200px;
        height: 80px;
    }
  }
  
@media screen and (max-width: 500px) {
    input {
        width: 100px;
    }
  
    input:focus {
        width: 100px;
    }
}
  
@media screen and (max-width: 390px) {
    button {
        margin-left: 15px;
        margin-right: -5px;
    }
}

@media screen and (max-width: 600px) {
    .inputTextNameParty {
        width: 200px;
        margin-left: -20px;
        margin-bottom: 20px;
    }
    
    select {
        margin-left: -7%;
    }
  
}
