<div class="container">
    <div class="select-wrapper">
        <img [src]="logoRuta" class="logo">

        <select [(ngModel)]="selectedOption" required> <!-- Opciones de menu -->
            <option [value]="'Seleccionar'" disabled>{{ selectedOptionDefault }}</option>
            <option value="Acceder a evento">Acceder a evento</option>
            <option value="Crear evento">Crear evento</option>
            <option value="Eliminar evento">Eliminar evento</option>
        </select><br>

        <div *ngIf="selectedOption === 'Acceder a evento' || selectedOption === 'Eliminar evento'"> <!-- Opcione de carpetas encontradas (eliminar y acceder)-->
          <select [(ngModel)]="selectedOptionCarpeta" required>
            <option [value]="'Seleccionar'" disabled>{{ selectedOptionDefault }}</option>
            <option *ngFor="let opcion of carpetas" [value]="opcion">{{ opcion }}</option>
          </select>
        </div>

        <div *ngIf="selectedOption === 'Crear evento'"> <!-- Opcion para crear una carpeta -->
          <input placeholder="Nombre de la fiesta..." [(ngModel)]="inputText" class="inputTextNameParty" class="input"><br>
          <textarea placeholder="Mensaje para mostrar en el evento" [(ngModel)]="inputMensage" class="frase"> </textarea> <br>

          <!-- Subida de archivos -->
          <form (submit)="subirArchivo()">
            <br><br><label>Selecciona un archivo:</label>
            <input type="file" accept=".png, .jpg, .jpeg, .svg" (change)="seleccionarArchivo($event)">
          </form>

          <!-- Previsualización -->
          <br><img [src]="resultadoImagen" *ngIf="resultadoImagen" width="60%" alt="Previsualización" class="previsualizacion">
        </div>
    </div>

    <button (click)="accion(selectedOption)" [disabled]="isButtonDisabled()" class="custom-button">
      {{ selectedOption }}
    </button>
</div>

<!-- Mensage de acccion -->
<div id="popupContainer" [ngClass]="{ 'show-popup': isPopupVisible }"> </div>

<!-- Imagen de fondo -->
<div id="overlay" *ngIf="showOverlay">
  <img [src]="logoRuta" alt="Imagen" class="imgFondo">
</div>

<!-- Gif de cargar -->
<div id="overlay" *ngIf="showImage">
  <img src="../../assets/gif/cargando.gif" alt="Imagen centrada"  class="imgFondo">
</div>
