<p class="frase">{{ frase }}</p>

<div class="juntos">
	<div class="col1">
		<img [src]="imgQR" class="img-qr">
		<img [src]="logo" class="img-qr">
	</div>

	<div class="col2">
		<div class="carrousel">
      <div class="conteCarrousel">
        <div *ngFor="let url of imagenUrls; let i = index">
          <span *ngIf="i <= 5">
            <div class="itemCarrousel" id="itemCarrousel-{{ i }}">
                <div class="itemCarrouselTarjeta">
                  <span *ngIf="i == videoActual">
                    <video controls class="video" autoplay>
                      <source [src]="url" type="video/mp4">
                    </video>
                  </span>

                  <span *ngIf="i != videoActual">
                    <video controls class="video">
                      <source [src]="url" type="video/mp4">
                    </video>
                  </span>
                </div>
            </div>

            <!-- Flechas para moverse hacia la izquierda y la derecha -->
            <div class="itemCarrouselArrows">
              <a href="#itemCarrousel-{{ videoActual }}"><div class="arrow left-arrow" (click)="previousVideo()"><i class="arrow-left"></i></div></a>
              <a href="#itemCarrousel-{{ videoActual }}"><div class="arrow right-arrow" (click)="nextVideo()"><i class="arrow-right"></i></div></a>
            </div>
          </span>
        </div>
      </div>

      <div class="conteCarrouselController" style="margin-left: -80px;">
        <a *ngFor="let url of vueltas.slice(0, 5); let i = index" href="#itemCarrousel-{{ i }}" [ngClass]="{'punto-activo': i === videoActual}" (click)="setActiveIndex(i)" style="margin-right: 40px;"></a>
      </div>
    </div>

	<div>
</div>
