<p class="frase">{{ frase }}</p>

<div class="juntos">
	<div class="col1">
		<img [src]="imgQR" class="img-qr">
		<img [src]="logo" class="img-qr">
	</div>

	<div class="col2">
		<div class="carrousel">
      <div class="conteCarrousel">
        <div *ngFor="let url of imagenUrls; let i = index">
          <div class="itemCarrousel" id="itemCarrousel-{{ i }}">
              <div class="itemCarrouselTarjeta">
                <video controls class="video">
                  <source [src]="url" type="video/mp4">
                </video>
              </div>
          </div>
        </div>
      </div>

      <div class="conteCarrouselController" >
        <a href="#itemCarrousel-{{ i }}" *ngFor="let url of imagenUrls; let i = index"
           [ngClass]="{'punto-activo': i === videoActual}" (click)="setActiveIndex(i)">

           <div class="circle"></div>
        </a>
      </div>
    </div>

	<div>
</div>
