section {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.form-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 20px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
  border-bottom: 2px solid #47e2e2;
}

input[type="submit"] {
  background-color: rgb(139, 228, 131);
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}


input[type="submit"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: #808080;
  margin-left: -2%;
}

/* Inicio de Contacto Index iconos */
.buttons_iconos {
  width: 700px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.buttons_iconos a {
  text-decoration: none;
  font-size: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: rgb(222, 54, 225);
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons_iconos a:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1006px) {
.buttons_iconos {
      width: 60%;
      margin-top: 100px;
      margin-left: 20%;
      margin-right: 20%;
      margin-bottom: 130px;
}
}

@media screen and (max-width: 1005px) {
.buttons_iconos {
      width: 100%;
      margin-top: 110px;
      margin-left: -25px;
      margin-right: -25px;
      margin-bottom: 70px;
}
}

@media screen and (max-width: 745px) {
.buttons_iconos {
    height: 100px;
      margin-top: 140px;
}

.acortar_icono_medio_one {
    margin-left: 0px;
    margin-right: 5px;
}

.acortar_icono_medio_two {
    margin-left: 5px;
    margin-right: 0px;
}

.acortar_icono_right {
    margin-right: 0px;
}

.acortar_icono_left {
    margin-left: 30px;
}
}
/* Fin de Contacto Index iconos */

.logoPrincipal {
  width: 100%;
  margin-bottom: 20px;
}
