<div class="div">
  <h1>Eliminar evento: {{ textnombreFiesta }} </h1>

  <span><br>
    <p>Para confirmar la eliminación, dale click al boton "Eliminar"</p>

    <div class="div">
      <button (click)="eliminar()" class="custom-button">Eliminar evento</button>

      <button (click)="regresar()">Cancelar</button>
    </div>
  </span>
</div>

<div id="popupContainer" [ngClass]="{ 'show-popup': isPopupVisible }"> </div>

<div id="overlay" *ngIf="showImage">
  <img src="../../assets/gif/cargando.gif" alt="Imagen centrada"  class="imgFondo">
</div>
