<p class="frase">{{ frase }}</p>

<div class="juntos">
  <div class="col1">
    <img [src]="logo" class="img-qr" alt="Logo">
    <img [src]="qrCodeImage" alt="Código QR" class="img-qr">
  </div>

  <div class="col2">
    <div class="carrusel">
      <div class="video-container">
        <video #videoPlayer [src]="videoUrls[currentVideoIndex]" controls autoplay></video>
      </div>
      
      <div class="controls">
        <button (click)="showPreviousVideo()">Anterior</button>
        <button (click)="showNextVideo()">Siguiente</button>
      </div>
    </div>
  </div>
</div>
