.frase {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.img-qr {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 25%;
}

.img-logo {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 13%;
}

@media screen and (min-width: 810px) {
.img-qr {
  width: 70%;
  margin-left: 50px;
      margin-right: 50px;
  margin-top: 50px;
}

}

.juntos {
  display: flex;
  width: 100%;
      margin-top: 150px;
}

.col1 {
      width: 30%;
}

  .col2 {
      width: 70%;

}

@media screen and (max-width: 1000px) {
.itemCarrouselArrows{
  margin-left: 35%;
  margin-right: 5%;
}
}

@media screen and (max-width: 810px) {
.itemCarrouselArrows{
  opacity: 0;
}
}


.carrusel {
  position: relative;
}

.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.video-container {
  max-width: 100%;
  max-height: 100%;
}

.video-container video {
  display: block;
  margin: 0 auto;
}
