<p class="frase">{{ frase }}</p>

<div class="juntos">
  <div class="col1">
    <a href="/#/menu"><img [src]="logo" class="img-logo" alt="Logo"></a>
    <img [src]="qrCodeImage" alt="Código QR" class="img-qr">
  </div>

  <div class="col2">
    <div class="carrusel">
      <div class="video-container">
        <video #videoPlayer [src]="videoUrls[currentVideoIndex]" controls autoplay></video>
      </div>

      <div class="controls">
        <button (click)="showPreviousVideo()"><</button>
        <button (click)="showNextVideo()" style="margin-right: 10px;">></button>
      </div>
    </div>

    <div class="conteCarrouselController" style="margin-left: 10px;">
      <a *ngFor="let url of videoUrls; let i = index" [ngClass]="{'punto-activo': i === videoActual}" style="margin-right: 40px;"></a>
    </div>
  </div>
</div>
